@import '../../styles/constants.scss';

.wrapper {
    overflow: hidden;

    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            >* {
            @media (max-width: $xs) {
                margin: auto;
                padding-bottom: 2rem;
            }}

        }
        
        @media (max-width: $sm) {
            justify-content: center;
            text-align: center;
            gap: 2rem;
        }

        .lowerElements {
            
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: $md) {
                justify-content: center;
                margin-top: 4rem;
                gap: 4rem;
            }

            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;

                >:nth-child(2) {
                    line-height: 25px;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            
            position: absolute;
            bottom: 0;
            height: 75%;
            bottom: 7rem;
            margin: auto;
            left: 33%;
            z-index: -1;

            >img {
                border-radius: 85px;
                background-image: url('../../../public/splash.png'); 
                background-repeat: no-repeat;
                background-size: 23rem;

                @media (max-width: $sm) {
                    width: 20rem;
                }
            }
            
            @media (max-width: $md) {
                position: relative;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }

            @media (max-width: $sm) {
                bottom: -1rem;
            }
            

        }

        .email {
            
            position: absolute;
            top: 50%;
            left: 0;
            color: orange;

            @media (max-width: $md) {
                position: relative;
                display: none;
            }

        }

    }

}